# 监督学习

- [分类学习]
    - [线性回归器]
    - [LinearRegression和SGDRegressor两种线性模型。]
- [回归预测]

# 波士顿房价预测

In [247]:
import pandas as pd
import numpy as np
# 创建特征列表。
column_names = ['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Class']
# 使用pandas.read_csv函数从互联网读取指定数据。
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', names = column_names )
# 将?替换为标准缺失值表示。
data = data.replace(to_replace='?', value=np.nan)
# 丢弃带有缺失值的数据（只要有一个维度有缺失）。
data = data.dropna(how='any')
# 输出data的数据量和维度。
data.shape

(683, 11)

In [249]:
a=pd.DataFrame(data)
a

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
30,1070935,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [11]:
from sklearn.cross_validation import train_test_split
# 随机采样25%的数据用于测试，剩下的75%用于构建训练集合。
X_train, X_test, y_train, y_test = train_test_split(data[column_names[1:10]], data[column_names[10]], test_size=0.25, random_state=33)
#X_train,y_train训练集
#X_test，y_test 测试集

In [12]:
y_train.value_counts()

2    344
4    168
Name: Class, dtype: int64

In [13]:
y_test.value_counts()

2    100
4     71
Name: Class, dtype: int64

In [44]:
from sklearn.preprocessing import StandardScaler
# 从sklearn.linear_model里导入LogisticRegression与SGDClassifier。
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

In [22]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [45]:
lr = LogisticRegression()
sgdc = SGDClassifier()

In [24]:
X_test.shape

(171, 9)

In [54]:
# 调用LogisticRegression中的fit函数/模块用来训练模型参数。
lr.fit(X_train, y_train)
# 使用训练好的模型lr对X_test进行预测，结果储存在变量lr_y_predict中。
lr_y_predict = lr.predict(X_test)

In [40]:
lr_y_predict

array([2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 4,
       4, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4,
       2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4,
       2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4,
       2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 4, 2, 4, 4], dtype=int64)

In [30]:
# 调用SGDClassifier中的fit函数/模块用来训练模型参数。
sgdc.fit(X_train, y_train)
# 使用训练好的模型sgdc对X_test进行预测，结果储存在变量sgdc_y_predict中。
sgdc_y_predict = sgdc.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [31]:
sgdc_y_predict

array([2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 4,
       4, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4,
       2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2,
       2, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4,
       2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 4, 2, 4, 4], dtype=int64)

In [181]:
from sklearn.metrics import classification_report
# 使用逻辑斯蒂回归模型自带的评分函数score获得模型在测试集上的准确性结果。
print ('Accuracy of LR Classifier:',lr.score(X_test, y_test))
print ('Accuracy of SGD Classifier:',sgdc.score(X_test, y_test))

Accuracy of LR Classifier: 0.96
Accuracy of SGD Classifier: 0.9444444444444444

In [108]:
print (classification_report(y_test, lr_y_predict, target_names=['良性', '恶性']))

             precision    recall  f1-score   support

         良性       0.99      0.99      0.99       100
         恶性       0.99      0.99      0.99        71

avg / total       0.99      0.99      0.99       171

In [112]:
print (classification_report(y_test, sgdc_y_predict, target_names=['良性', '恶性']))

             precision    recall  f1-score   support

         良性       1.00      0.98      0.99       100
         恶性       0.97      1.00      0.99        71

avg / total       0.99      0.99      0.99       171

## mnist

In [250]:
from sklearn.datasets import load_digits
# 从通过数据加载器获得手写体数字的数码图像数据并储存在digits变量中。
digits = load_digits()
# 检视数据规模和特征维度。
digits.data.shape
# 从sklearn.cross_validation中导入train_test_split用于数据分割。
from sklearn.cross_validation import train_test_split
# 随机选取75%的数据作为训练样本；其余25%的数据作为测试样本。
X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target, test_size=0.25, random_state=33)
y_train.shape

(1347,)

In [251]:
from sklearn.preprocessing import StandardScaler
# 从sklearn.svm里导入基于线性假设的支持向量机分类器LinearSVC。
from sklearn.svm import LinearSVC
# 从仍然需要对训练和测试的特征数据进行标准化。
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [252]:
X_train

array([[ 0.        , -0.32672314, -0.87554711, ..., -1.11540424,
        -0.49709493, -0.19054741],
       [ 0.        , -0.32672314, -0.2423893 , ..., -1.11540424,
        -0.49709493, -0.19054741],
       [ 0.        , -0.32672314, -1.08659972, ..., -1.11540424,
        -0.49709493, -0.19054741],
       ...,
       [ 0.        , -0.32672314, -0.2423893 , ..., -1.11540424,
        -0.49709493, -0.19054741],
       [ 0.        , -0.32672314,  1.44603155, ..., -1.11540424,
        -0.49709493, -0.19054741],
       [ 0.        ,  0.75459398,  0.39076852, ..., -1.11540424,
        -0.49709493, -0.19054741]])

In [255]:
lsvc = LinearSVC()
#进行模型训练
lsvc.fit(X_train, y_train)
# 利用训练好的模型对测试样本的数字类别进行预测，预测结果储存在变量y_predict中。
y_predict = lsvc.predict(X_test)
# 使用模型自带的评估函数进行准确性测评。
print( 'The Accuracy of Linear SVC is', lsvc.score(X_test, y_test))

The Accuracy of Linear SVC is 0.9533333333333334

In [256]:
#用Logistic回归对mnist做回归
lr.fit(X_train, y_train)
# 使用训练好的模型lr对X_test进行预测，结果储存在变量lr_y_predict中。
lr_y_predict = lr.predict(X_test)

In [56]:
lr_y_predict

array([1, 3, 7, 3, 2, 4, 6, 1, 4, 0, 4, 7, 8, 5, 2, 8, 8, 6, 7, 0, 6, 0,
       8, 3, 0, 6, 2, 3, 0, 9, 0, 2, 0, 6, 9, 1, 1, 5, 8, 0, 6, 1, 5, 8,
       9, 5, 1, 6, 2, 6, 6, 7, 6, 7, 7, 2, 7, 8, 0, 7, 3, 6, 3, 9, 6, 6,
       5, 5, 4, 2, 9, 3, 7, 6, 5, 7, 2, 8, 1, 2, 2, 8, 1, 1, 6, 3, 5, 0,
       0, 1, 6, 7, 6, 8, 9, 7, 0, 0, 9, 8, 0, 8, 2, 3, 6, 1, 9, 9, 1, 7,
       3, 9, 8, 8, 5, 9, 5, 1, 1, 7, 9, 3, 3, 2, 8, 1, 3, 8, 6, 4, 0, 0,
       0, 7, 1, 5, 5, 1, 8, 5, 1, 8, 1, 6, 9, 9, 4, 5, 7, 5, 2, 1, 2, 3,
       8, 7, 7, 5, 1, 9, 6, 9, 8, 0, 6, 1, 2, 1, 3, 7, 8, 9, 6, 8, 4, 1,
       0, 0, 9, 8, 7, 2, 8, 6, 4, 8, 9, 4, 2, 6, 1, 8, 5, 6, 7, 5, 1, 9,
       2, 8, 3, 2, 9, 4, 3, 5, 5, 6, 2, 4, 3, 2, 6, 4, 8, 5, 8, 0, 8, 8,
       6, 3, 2, 3, 0, 5, 7, 1, 3, 9, 3, 2, 1, 6, 6, 5, 1, 9, 7, 2, 4, 5,
       2, 1, 3, 1, 1, 2, 1, 7, 0, 1, 2, 2, 1, 2, 9, 9, 6, 6, 3, 9, 2, 8,
       1, 5, 5, 1, 8, 6, 2, 5, 6, 0, 1, 4, 2, 1, 8, 9, 4, 3, 0, 6, 8, 3,
       3, 2, 0, 2, 0, 6, 5, 6, 6, 4, 6, 1, 8, 3, 4, 1, 3, 5, 1, 4, 9, 8,
       7, 5, 1, 1, 3, 7, 1, 8, 3, 7, 4, 0, 7, 2, 9, 7, 1, 9, 4, 5, 3, 5,
       2, 5, 1, 3, 0, 5, 8, 4, 7, 6, 9, 9, 3, 3, 4, 1, 6, 4, 7, 0, 6, 1,
       2, 3, 3, 4, 5, 3, 3, 5, 2, 0, 9, 7, 1, 5, 5, 8, 4, 4, 3, 6, 2, 5,
       1, 0, 6, 1, 5, 8, 4, 9, 6, 4, 3, 8, 0, 3, 0, 1, 2, 8, 0, 5, 4, 5,
       2, 8, 9, 6, 9, 8, 0, 8, 8, 2, 4, 6, 5, 6, 4, 3, 9, 8, 9, 7, 1, 7,
       9, 9, 1, 9, 9, 5, 9, 8, 0, 8, 2, 5, 1, 4, 2, 6, 3, 7, 9, 9, 7, 4,
       3, 7, 1, 8, 8, 9, 5, 3, 6, 6])

In [257]:
print('Accuracy of LR Classifier:',lr.score(X_test, y_test))#逻辑斯特回归很强大

Accuracy of LR Classifier: 0.96

In [59]:
from sklearn.metrics import classification_report

In [62]:
print (classification_report(y_test, lr_y_predict, target_names=digits.target_names.astype(str)))

             precision    recall  f1-score   support

          0       0.95      1.00      0.97        35
          1       0.93      0.98      0.95        54
          2       1.00      1.00      1.00        44
          3       0.96      0.96      0.96        46
          4       1.00      0.94      0.97        35
          5       0.98      0.94      0.96        48
          6       0.96      0.98      0.97        51
          7       0.95      1.00      0.97        35
          8       0.98      0.88      0.93        58
          9       0.91      0.95      0.93        44

avg / total       0.96      0.96      0.96       450

# 朴素贝叶斯——新闻分类

In [147]:
# 从sklearn.datasets里导入新闻数据抓取器fetch_20newsgroups。
from sklearn.datasets import fetch_20newsgroups
# 与之前预存的数据不同，fetch_20newsgroups需要即时从互联网下载数据。
news = fetch_20newsgroups(subset='all')
# 查验数据规模和细节。
print (len(news.data))
print (news.data[0])

18846
None

In [74]:
# 从sklearn.cross_validation 导入 train_test_split。
from sklearn.cross_validation import train_test_split
# 随机采样25%的数据样本作为测试集。
X_train, X_test, y_train, y_test = train_test_split(news.data, news.target, test_size=0.25, random_state=33)

In [75]:
# 从sklearn.feature_extraction.text里导入用于文本特征向量转化模块。详细介绍请读者参考3.1.1.1 特征抽取一节。
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()
X_train = vec.fit_transform(X_train)
X_test = vec.transform(X_test)

In [118]:
type(X_train)

scipy.sparse.csr.csr_matrix

In [115]:
a=np.array(X_train)

In [117]:
type(a)

numpy.ndarray

In [120]:
from sklearn.naive_bayes import MultinomialNB
# 从使用默认配置初始化朴素贝叶斯模型。
mnb = MultinomialNB()
# 利用训练数据对模型参数进行估计。
mnb.fit(X_train, y_train)
# 对测试样本进行类别预测，结果存储在变量y_predict中。
y_predict = mnb.predict(X_test)

In [123]:
from sklearn.metrics import classification_report
print ('The accuracy of Naive Bayes Classifier is', mnb.score(X_test, y_test))
print (classification_report(y_test, y_predict, target_names = news.target_names))

The accuracy of Naive Bayes Classifier is 0.8397707979626485
                          precision    recall  f1-score   support

             alt.atheism       0.86      0.86      0.86       201
           comp.graphics       0.59      0.86      0.70       250
 comp.os.ms-windows.misc       0.89      0.10      0.17       248
comp.sys.ibm.pc.hardware       0.60      0.88      0.72       240
   comp.sys.mac.hardware       0.93      0.78      0.85       242
          comp.windows.x       0.82      0.84      0.83       263
            misc.forsale       0.91      0.70      0.79       257
               rec.autos       0.89      0.89      0.89       238
         rec.motorcycles       0.98      0.92      0.95       276
      rec.sport.baseball       0.98      0.91      0.95       251
        rec.sport.hockey       0.93      0.99      0.96       233
               sci.crypt       0.86      0.98      0.91       238
         sci.electronics       0.85      0.88      0.86       249
                 sci.med       0.92      0.94      0.93       245
               sci.space       0.89      0.96      0.92       221
  soc.religion.christian       0.78      0.96      0.86       232
      talk.politics.guns       0.88      0.96      0.92       251
   talk.politics.mideast       0.90      0.98      0.94       231
      talk.politics.misc       0.79      0.89      0.84       188
      talk.religion.misc       0.93      0.44      0.60       158

             avg / total       0.86      0.84      0.82      4712

In [23]:
# 从sklearn.linear_model里导入LogisticRegression与SGDClassifier。
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

In [24]:
lr = LogisticRegression()
sgdc = SGDClassifier()

In [140]:
#用Logistic回归对mnist做分类
lr.fit(X_train, y_train)
# 使用训练好的模型lr对X_test进行预测，结果储存在变量lr_y_predict中。
lr_y_predict = lr.predict(X_test)

In [141]:
print ('Accuracy of LR Classifier:',lr.score(X_test, y_test))#逻辑斯特回归很强大a

Accuracy of LR Classifier: 0.9019524617996605

In [134]:
# 调用SGDClassifier中的fit函数/模块用来训练模型参数。
sgdc.fit(X_train, y_train)
# 使用训练好的模型sgdc对X_test进行预测，结果储存在变量sgdc_y_predict中。
sgdc_y_predict = sgdc.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [135]:
print ('Accuracy of SGD Classifier:',sgdc.score(X_test, y_test))#逻辑斯特回归很强大a

Accuracy of LR Classifier: 0.8056027164685908

In [180]:
# 从sklearn.svm里导入基于线性假设的支持向量机分类器LinearSVC。
from sklearn.svm import LinearSVC
lsvc = LinearSVC()

In [138]:
lsvc.fit(X_train, y_train)
# 利用训练好的模型对测试样本的数字类别进行预测，预测结果储存在变量y_predict中。
y_predict = lsvc.predict(X_test)

In [139]:
print ('Accuracy of LR Classifier:',lsvc.score(X_test, y_test))#支持向量机

Accuracy of LR Classifier: 0.8943123938879457

# K临近

In [3]:
# 从sklearn.datasets 导入 iris数据加载器。
from sklearn.datasets import load_iris
# 使用加载器读取数据并且存入变量iris。
iris = load_iris()
# 查验数据规模。
iris.data.shape

(150, 4)

In [13]:
import pandas as pd
pd.DataFrame(iris.target)

     0
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
10   0
11   0
12   0
13   0
14   0
15   0
16   0
17   0
18   0
19   0
20   0
21   0
22   0
23   0
24   0
25   0
26   0
27   0
28   0
29   0
..  ..
120  2
121  2
122  2
123  2
124  2
125  2
126  2
127  2
128  2
129  2
130  2
131  2
132  2
133  2
134  2
135  2
136  2
137  2
138  2
139  2
140  2
141  2
142  2
143  2
144  2
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [144]:
print (iris.DESCR)

Iris Plants Database
====================

Notes
-----
Data Set Characteristics:
    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica
    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML iris datasets.
http://archive.ics.uci.edu/ml/datasets/Iris

The famous Iris database, first used by Sir R.A Fisher

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

References
----------
   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [20]:
from sklearn.cross_validation import train_test_split
# 从使用train_test_split，利用随机种子random_state采样25%的数据作为测试集。
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.25, random_state=33)
# 从sklearn.preprocessing里选择导入数据标准化模块。
from sklearn.preprocessing import StandardScaler
# 从sklearn.neighbors里选择导入KNeighborsClassifier，即K近邻分类器。
from sklearn.neighbors import KNeighborsClassifier
# 对训练和测试的特征数据进行标准化。
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [56]:
X_train.shape

(112, 4)

In [47]:
knc = KNeighborsClassifier()
knc.fit(X_train, y_train)
y_predict = knc.predict(X_test)
# 使用模型自带的评估函数进行准确性测评。
print ('The accuracy of K-Nearest Neighbor Classifier is', knc.score(X_test, y_test) )

The accuracy of K-Nearest Neighbor Classifier is 0.8947368421052632

In [35]:
lr.fit(X_train, y_train)
# 使用训练好的模型lr对X_test进行预测，结果储存在变量lr_y_predict中。
lr_y_predict = lr.predict(X_test)

In [36]:
print ('Accuracy of LR Classifier:',lr.score(X_test, y_test))#逻辑斯特回归很强大a

Accuracy of LR Classifier: 0.868421052631579

In [52]:
lsvc.fit(X_train, y_train)
y_predict = lsvc.predict(X_test)

In [53]:
print ('Accuracy of LR Classifier:',lsvc.score(X_test, y_test))#支持向量机对样本数量不多的效果好

Accuracy of LR Classifier: 0.9210526315789473

In [49]:
sgdc.fit(X_train, y_train)
# 使用训练好的模型sgdc对X_test进行预测，结果储存在变量sgdc_y_predict中。
sgdc_y_predict = sgdc.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [50]:
print ('Accuracy of SGD Classifier:',sgdc.score(X_test, y_test))#逻辑斯特回归很强大a

Accuracy of SGD Classifier: 0.9210526315789473

In [51]:
print(sgdc.get_params)

<bound method BaseEstimator.get_params of SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=0, warm_start=False)>

In [84]:
a=[[1 ,  1, 1, 0],[-1.0271058 ,  0.09442168, -1.15513491, -1.35614105]]

In [85]:
sgdc.predict(a)

array([1, 0])

## 决策树——泰坦尼克号

In [218]:
import pandas as pd
# 利用pandas的read_csv模块直接从互联网收集泰坦尼克号乘客数据。
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')
# 观察一下前几行数据，可以发现，数据种类各异，数值型、类别型，甚至还有缺失数据。
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [124]:
titanic.shape

(1313, 11)

In [125]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [227]:
X = titanic[['pclass', 'age', 'sex']]
y = titanic['survived']

In [210]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 4 columns):
pclass      1313 non-null object
age         1313 non-null float64
sex         1313 non-null object
embarked    1313 non-null object
dtypes: float64(1), object(3)
memory usage: 41.1+ KB

In [208]:
X['embarked'][0]

'Southampton'

In [230]:
X['age'].fillna(X['age'].mode(), inplace=True)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [231]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 33)
# 我们使用scikit-learn.feature_extraction中的特征转换器，详见3.1.1.1特征抽取。
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False)

In [232]:
pd.DataFrame(X_train.to_dict(orient='record'))

           age pclass     sex
0    31.194181    3rd    male
1    31.194181    1st  female
2    31.194181    3rd    male
3    32.000000    3rd    male
4    31.194181    3rd    male
5    41.000000    2nd    male
6    48.000000    2nd  female
7    26.000000    3rd    male
8    19.000000    3rd    male
9    31.194181    2nd    male
10   31.194181    3rd    male
11    9.000000    3rd    male
12   32.000000    2nd  female
13   21.000000    3rd    male
14   31.194181    1st  female
15   31.194181    3rd    male
16   40.000000    3rd    male
17   70.000000    1st    male
18   31.194181    3rd    male
19   31.194181    3rd    male
20   31.194181    3rd  female
21   31.194181    3rd    male
22   20.000000    2nd  female
23   31.194181    3rd    male
24   30.000000    2nd  female
25   36.000000    1st    male
26   31.194181    1st  female
27   34.000000    2nd  female
28   23.000000    2nd    male
29   34.000000    2nd    male
..         ...    ...     ...
954  24.000000    1st    male
955  22.000000    2nd  female
956  31.194181    1st    male
957  40.000000    2nd  female
958  23.000000    3rd    male
959  31.194181    3rd    male
960  24.000000    1st  female
961  31.194181    3rd    male
962  31.194181    2nd    male
963  31.194181    2nd    male
964  45.000000    3rd    male
965  26.000000    2nd    male
966  31.194181    1st    male
967  20.000000    2nd    male
968  31.194181    3rd    male
969  40.000000    3rd    male
970  42.000000    2nd    male
971  31.194181    3rd    male
972  23.000000    2nd    male
973  31.194181    3rd    male
974  25.000000    3rd    male
975  31.194181    1st  female
976  23.000000    1st  female
977  28.000000    1st    male
978  27.000000    1st    male
979  31.194181    3rd    male
980  31.194181    3rd  female
981  12.000000    2nd  female
982  18.000000    2nd    male
983  31.194181    3rd  female

[984 rows x 3 columns]

In [233]:
X_train = vec.fit_transform(X_train.to_dict(orient='record'))

In [234]:
pd.DataFrame(X_train[0:8])#将特征“等级”变为1 0 0是1st,性别 01 10

           0    1    2    3    4    5
0  31.194181  0.0  0.0  1.0  0.0  1.0
1  31.194181  1.0  0.0  0.0  1.0  0.0
2  31.194181  0.0  0.0  1.0  0.0  1.0
3  32.000000  0.0  0.0  1.0  0.0  1.0
4  31.194181  0.0  0.0  1.0  0.0  1.0
5  41.000000  0.0  1.0  0.0  0.0  1.0
6  48.000000  0.0  1.0  0.0  1.0  0.0
7  26.000000  0.0  0.0  1.0  0.0  1.0

In [235]:
X_test = vec.transform(X_test.to_dict(orient='record'))
# 从sklearn.tree中导入决策树分类器。
from sklearn.tree import DecisionTreeClassifier
# 使用默认配置初始化决策树分类器。
dtc = DecisionTreeClassifier()
# 使用分割到的训练数据进行模型学习。
dtc.fit(X_train, y_train)
# 用训练好的决策树模型对测试特征数据进行预测。
y_predict = dtc.predict(X_test)
# 从sklearn.metrics导入classification_report。
from sklearn.metrics import classification_report
# 输出预测准确性。
print (dtc.score(X_test, y_test))
# 输出更加详细的分类性能。
print (classification_report(y_predict, y_test, target_names = ['died', 'survived']))

0.7811550151975684
             precision    recall  f1-score   support

       died       0.91      0.78      0.84       236
   survived       0.58      0.80      0.67        93

avg / total       0.81      0.78      0.79       329

In [236]:
# 从sklearn.svm里导入基于线性假设的支持向量机分类器LinearSVC。
from sklearn.svm import LinearSVC
lsvc = LinearSVC()

In [237]:
lsvc.fit(X_train, y_train)
# 利用训练好的模型对测试样本的数字类别进行预测，预测结果储存在变量y_predict中。
y_predict = lsvc.predict(X_test)

In [238]:
print ('Accuracy of SVC Classifier:',lsvc.score(X_test, y_test))

Accuracy of LR Classifier: 0.78419452887538

## 集成模型(Ensemble):随机森林：Random Forest Classifier，梯度提升决策树：Gradient Tree Boosting。

In [239]:
import pandas as pd
# 通过互联网读取泰坦尼克乘客档案，并存储在变量titanic中。
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')
# 人工选取pclass、age以及sex作为判别乘客是否能够生还的特征。
X = titanic[['pclass', 'age', 'sex']]
y = titanic['survived']
# 对于缺失的年龄信息，我们使用全体乘客的平均年龄代替，这样可以在保证顺利训练模型的同时，尽可能不影响预测任务。
X['age'].fillna(X['age'].mean(), inplace=True)
# 对原始数据进行分割，25%的乘客数据用于测试。
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 33)
# 对类别型特征进行转化，成为特征向量。
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False)
X_train = vec.fit_transform(X_train.to_dict(orient='record'))
X_test = vec.transform(X_test.to_dict(orient='record'))
# 使用单一决策树进行模型训练以及预测分析。
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc_y_pred = dtc.predict(X_test)

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [240]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc_y_pred = rfc.predict(X_test)
# 使用梯度提升决策树进行集成模型的训练以及预测分析。
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X_train, y_train)
gbc_y_pred = gbc.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [245]:
from sklearn.metrics import classification_report
# 输出单一决策树在测试集上的分类准确性，以及更加详细的精确率、召回率、F1指标。
print ('The accuracy of decision tree is', dtc.score(X_test, y_test))
print ('The accuracy of random forest classifier is', rfc.score(X_test, y_test))
print ('The accuracy of gradient tree boosting is', gbc.score(X_test, y_test))
print (classification_report(dtc_y_pred, y_test))
print (classification_report(rfc_y_pred, y_test))
print (classification_report(gbc_y_pred, y_test))

The accuracy of decision tree is 0.7811550151975684
The accuracy of random forest classifier is 0.7811550151975684
The accuracy of gradient tree boosting is 0.790273556231003
             precision    recall  f1-score   support

          0       0.91      0.78      0.84       236
          1       0.58      0.80      0.67        93

avg / total       0.81      0.78      0.79       329

             precision    recall  f1-score   support

          0       0.91      0.78      0.84       236
          1       0.58      0.80      0.67        93

avg / total       0.81      0.78      0.79       329

             precision    recall  f1-score   support

          0       0.92      0.78      0.84       239
          1       0.58      0.82      0.68        90

avg / total       0.83      0.79      0.80       329